# Python
.venv/
__pycache__/
*.pyc
.vscode/
.idea/
*.log

# Unreal
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/
.vs/

# Visual Studio
*.sln
*.VC.db
*.VC.opendb

# Rider
.idea/

# Generated project files
*.xcodeproj